
/*
    Style Sheet for our Web Design
*/

/*
    All these values at this point are dummy values
    used to test some functionalities.
*/


.panel {
  background-color:grey;
  border-radius: 15px;
}

.option-button {
  font-family: 'Roboto';
  color: white;
  float: right;
  margin-right: 15px;
  background-color: #c1d6d6;
  border-radius: 5px;
  display: inline-block;
  padding: 4px;
}

#head-menu{
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

#logo{
  padding: 15px;
  float: left;
}

/* TODO: Body Boxes do not have the appropriate width*/

#leftbox {
  width: 30%;
  height: auto;
  float: left;
}

#rightbox {
  width: 50%;
  height: auto;
  float:right;
  text-align: justify;
}
/*--------------------------------------------------*/

ul{
  align-items: center;
}

body {
    background-color: powderblue;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;


}

h1 {
    color: white;
    font-family: 'Roboto';
    float: inherit;
    text-align: left;
    text-shadow: 3px 2px black;
    padding: 30px;
}

p {
    font-family: 'Roboto';
    color: black;
    text-align: center;
    padding: 50px;
}
