
/*
    Style Sheet for our Web Design
*/

/*
    All these values at this point are dummy values
    used to test some functionalities.
*/

#headbox {
  background-color:grey;
}
#logo{
  padding: 15px;
  float: left;
}

body {
    background-color: powderblue;
}
ul {
  float: right;
  padding-right: 15px;
}
h1 {
    color: white;
    font-family: 'Roboto';
    float: inherit;
    text-align: center;
    text-shadow: 3px 2px black;
    padding: 30px;
}

p {
    font-family: 'Roboto';
    color: black;
    vertical-align: center;
    text-align: center;
    padding: 50px;
}
