/*
border: 1px;
border-style: inset;
*/


html {
  background-color: #3FCaC3;
  padding: 10px;
  margin: 8px;
}
.panel {
  display: flex;
  border-radius: 12px;
}
h3, h4, h5, h6, p {
  font-family: 'Roboto';
}
a {
  text-decoration: none;
}
a:link, a:active{
  color: white;
}
a:visited {
  color: #dae3e3;
}
a:hover {
  color: hotpink;
}
/* ---<< HEAD MENU >>--- */
#headbox {
  background-color: #cfe3e3;
  padding: 0px 10px 0px 10px;
  justify-content: space-between;
  align-items: center;
}
#logo {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}
h1 {
  font-size: 40px;
  font-family: 'Roboto';
}
nav {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
button {
  font-size: 17px;
  border-radius: 15px;
  border-style: hidden;
  background-color: white;
  padding: 15px 15px;
  margin-left: 10px;
}
/* --------------------- */

/* ------<< BODY >>----- */
#site-back {
  width: auto;
  height: 1000px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
#leftbox {
  width: 33%;
  height: 1620px;
  background-color: white;
  align-items: flex-start;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.profile-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding: 17px;
  overflow: hidden;
}
#section-title {
  margin-bottom: 0px;
  margin-top: 10px;
}
#profile-info{
  margin-left: 10px;
}
#profile-name {
  margin-left: 10%;
  font-size: 25px;
}
#profile-pic {
  width: 30%;
  margin-left: 10px;
}
hr {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 90%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.section-box {
  list-style-type: none;
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Roboto';
  padding: 4px 10px 1px 10px;

  background-color: #cfe3e3;
  border-radius: 12px;
}

h5{
  margin-top: 2px;
  margin-bottom: 2px;
}

p {
  margin-top: 2px;
  text-align: justify;
}

#opinion {
  font-size: 13px;
}

.preference-box {
  background-color: #cfe3e3;
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;

}

#preference-text {
  margin-right: 10px;
}

#preference-delete {
  border-radius: 2px;
  padding: 1px 2px 1px 2px;
  font-size: 60%;
  margin-left: 0px;
  font-weight: bold;
  font-family: 'Roboto'
}

#preference-add {
  font-size: 60%;
  background-color: #cfe3e3;
  border-radius: 2px;
  padding: 2px 4px;
  margin-top: 10px;
  margin-left: 15px;
  width: 2vw;
  font-weight: bold;
  font-family: 'Roboto'
}

#preference-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#preference-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#rightbox {
  width: 66%;
  height: 1620px;
  background-color: white;
  align-items: flex-start;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
}


/* --------------------- */
